body {
   background: url('http://www.noqta.it/dromoscopio/img/pattern_39.gif');
}
#rotate {
    margin: 50px auto 0;
    width: 500px;
}
.transition-duration(@time) {
    -webkit-transition-duration: @time;
    -moz-transition-duration: @time;
    -o-transition-duration: @time;
    transition-duration: @time;
}
.transform(@angle) {
    -webkit-transform:rotate(@angle);
    -moz-transform:rotate(@angle);
    -o-transform:rotate(@angle);
    transform: rotate(@angle);
}
.image {
    .transition-duration(1s);     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
        &:hover {
    .transform(360deg);
    } 
}  
