body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  background-color: antiquewhite;
}
h1{
  font-size: 4rem;
  text-align: center;
  color: black;
  box-shadow: 2px 2px white;
  
}
div {
    perspective: 500px;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img{
    width:400px;
    height:400px;
}
.square {
    width: 400px;
    height: 400px;
  margin-bottom:120px;
    background: grey;
    transform: rotateY(45deg);
    animation: rotateAnimation 1s linear infinite;
}

@keyframes rotateAnimation {
    from {transform: rotateY(45deg);}
    to {transform: rotateY(225deg);}
}
@media screen and  (max-width:900px){
    h1{
    font-size: 2rem;
    text-align: center;
  }
  img{
    width:200px;
    height: 200px;
  }
  .square{
        width:200px;
        height:200px;
        background: grey;
        transform: rotateY(45deg);
        animation: rotateAnimation 1s linear infinite;
        
    }
}
@media screen and  (max-width:600px){
  h1{
    font-size: 2rem;
    text-align: center;
  }
    img{
    width:100px;
    height:100px;
  }
  .square{
        width:100px;
        height:100px;
        background: grey;
        transform: rotateY(45deg);
        animation: rotateAnimation 1s linear infinite;
        
    }
}
